body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container-image {
    margin: auto;

}

img {
    width: 200px;
    height: 200px;
}

.container-form {
    margin: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.label {
    font-size: 15px;
    font-weight: bold;
}

input {
    border-radius: 10px;
    font-size: 15px;
    height: 25px;
    width: 100%;
}

#send {
    margin-top: 15px;
    background-color: red;
    color: white;
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

.container-footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.container-footer > a {
    margin: 5px;
}